//Для обработки блоков в статусе _selected
.display-none {
  display: none;
}

//Основные стили

body {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 5e-5) 49.88%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("@img/pattern.png");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}
//Контейнер со всем контентом
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  margin-left: -40px;
  &__title {
    font-family: "Exo2";
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 1px 1px #000000;
  }

  &__body {
    padding-top: 24px;
    display: flex;
    flex-wrap: nowrap;
    //gap: 80px;
    justify-content: space-evenly;
    align-content: center;
  }
}

//Контейнер с товарами
.body {
  &__product-card {
    display: flex;
    flex-direction: column;
    &:not(first-child) {
      margin-left: 80px;
    }
    &__description {
      padding: 4px;
      // background-image: linear-gradient(
      //   135deg,
      //   transparent 30px,
      //   $mainDefaultColor 30px
      // );
      position: relative;
      border-radius: 12px;

      width: 320px;
      height: 480px;

      overflow: hidden;

      & img {
        position: absolute;
        left: -4px;
        bottom: -4px;
        object-fit: cover;
      }
    }

    &__description:hover {
      cursor: pointer;
    }

    &__link {
      margin-top: 16px;
      font-family: "trebuchetms";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      text-align: center;

      color: #ffffff;
    }
    &__link_disabled {
      color: #ffff66;
    }
    &__link a {
      color: $mainDefaultColor;
      text-decoration: none;
      border-bottom: 1px dashed $mainDefaultColor;
    }
    &__link_disabled {
      margin-top: 16px;
      font-family: "trebuchetms";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      text-align: center;

      color: #ffff66;
    }
  }

  .description {
    &__wrapper {
      position: relative;
      border-radius: 12px;
      background-image: linear-gradient(135deg, transparent 28px, #f2f2f2 30px);
      // width: 320px;
      height: calc(480px - 8px);
      padding-top: 17px;
      padding-left: 47px;
      overflow: hidden;
    }
    &__subtitle {
      font-family: "trebuchetms";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: #666666;
      &_selected {
        color: $mainActiveColor;
      }
    }

    &__title {
      margin-top: 5px;
      margin-left: -2px;
      font-family: "trebuchetms";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.04em;
      color: #000000;
    }

    &__taste {
      font-family: "trebuchetms";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.04em;
      color: #000000;
    }

    &__comment {
      margin-top: 14px;
      margin-left: 1px;
      font-family: "trebuchetms";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #666666;
      & > span {
        font-weight: 700;
      }
    }

    &__weight {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      //gap: 8px;
      position: absolute;
      right: 12px;
      bottom: 12px;
      font-family: "trebuchetms";
      font-style: normal;
      font-weight: 400;

      line-height: 22px;
      color: #ffffff;
      // background: $mainDefaultColor;
      width: 80px;
      height: 80px;
      border-radius: 50%;

      &__number {
        font-size: 42px;
      }
      &__units {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 21px;
      }
    }
    //Стили выбранной плашки с весом товара
    &__weight_selected {
      background: $mainActiveColor;
    }
    &__weight_default {
      background: $mainDefaultColor;
    }
    //Стили заблокированной плашки с весом товара
    &__weight_disabled {
      background: $mainDisabledColor;
    }
  }

  //Выделение рамки карточки товара
  .description_selected {
    background-image: linear-gradient(
      135deg,
      transparent 30px,
      $mainActiveColor 30px
    );
  }
  .description_default {
    background-image: linear-gradient(
      135deg,
      transparent 30px,
      $mainDefaultColor 30px
    );
  }
  .description__wrapper_disabled {
    color: $mainDisabledColor;
    opacity: 0.5;
  }
  //Стили заблокированной карточки товара
  .description_disabled {
    background-image: linear-gradient(
      135deg,
      transparent 30px,
      $mainDisabledColor 30px
    );
    cursor: auto;
  }

  .description_disabled img {
    opacity: 0.5;
  }
}
//Адаптивность
//Меняем отступы при изменении размера экрана Десктоп
@media (max-width: 1200px) {
  .container__body {
    //gap: 40px;
  }
  .body__product-card:not(first-child) {
    margin-left: 40px;
  }
}
@media (max-width: 1087px) {
  .container {
    margin-left: -15px;
  }
  .container__body {
    //gap: 30px;
  }
  .body__product-card:not(first-child) {
    margin-left: 30px;
  }
}
@media (max-width: 1050px) {
  .container {
    margin-left: -10px;
  }
  .container__body {
    // gap: 20px;
  }
  .body__product-card:not(first-child) {
    margin-left: 20px;
  }
}
@media (max-width: 1030px) {
  .container {
    margin-left: -5px;
  }
  .container__body {
    // gap: 10px;
  }
  .body__product-card:not(first-child) {
    margin-left: 10px;
  }
}

//Для планшета
@media (max-width: 991px) {
  .container__body {
    //column-gap: 20px;
    // row-gap: 40px;
    flex-wrap: wrap;
    .body__product-card:nth-child(3) {
      margin-top: 40px;
    }
  }
  .container {
    padding: 20px;
  }
  .body__product-card:nth-child(3n) {
    width: 100%;
    align-items: center;
  }
}

//Для смартфона
@media (max-width: 768px) {
  .container__body {
    max-width: 640px;
  }
  .body__product-card:not(:first-child) {
    margin-top: 40px;
  }
}

//Для телефона с маленьким экраном
@media (max-width: 380px) {
  .container {
    margin-left: 0px;
  }
  .container {
    padding: 20px 0;
  }
}
